.header-container {
  display: flex;
  background-color: antiquewhite;
  flex-direction: column;
  width: 100vw;
  text-align: center;
}


.heading-text {
  color: darkgreen;
  font-size: 4vw;
  font-family: 'Vina Sans', sans-serif;
  text-align: center;
}



@media only screen and (max-width: 576px) {
  .header-container {
    display: flex;
    text-align: center;
    width: 100vw;
  }
  .heading-text{
    font-size: 60px;
  }
}
  
