.main-container {
  display: flex;
  flex-direction: column;
  font-size: 1.125em;
  background-color: antiquewhite; 
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
}

.card-container {
  flex-direction: row;
}

@media only screen and (max-width: 48em) {
  .main-container {
    justify-items: center;
  }
}

@media only screen and (max-width: 992px) {
  .main-container {
    justify-items: center;
  }
}

@media only screen and (max-width: 1024px) {
  .main-container {
    justify-items: center;
  }
}