.movie-detail-container {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 88vh;
  box-sizing: border-box;
  border: 0.1667em solid black;
  padding: 0.5556em;
  text-align: center;
  justify-content: space-evenly;
  background-color: aliceblue;
}

.movie-element {
  margin: 0.5556em;
  padding: 0.5556em;
  color: rgb(103, 37, 37);
  font-family: 'Vina Sans', sans-serif;
  letter-spacing: 0.1em;
  font-size: 2.5em;
}


.movie-poster {
  align-self: center;
  margin: 1vh 2vw;
  padding: 1.5vh;
  border: 1vh dashed brown;
  width: 30vw;
  height: 80vh;
}


@media only screen and (max-width: 768px) {
  .movie-detail-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    align-items: center;
  }

  .movie-element {
    font-size: 12vw;
  }

  .movie-poster {
    border: 1vh dashed brown;
    width: 60vw;
    height: 30vh;
  }
}

@media only screen and (max-width: 992px) {
  .movie-detail-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
  }

  .movie-element {
    font-size: 8vw;
  }

  .movie-poster {
    border: 1vh dashed brown;
    width: 50vw;
    height: 40vh;
  }
}

@media only screen and (max-width: 1200px) {
  .movie-detail-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
  }

  .movie-element {
    font-size: 8vw;
  }

  .movie-poster {
    border: 1vh dashed brown;
    width: 40vw;
    height: 30vh;
  }
}