.movie-detail-container {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 78vh;
  box-sizing: border-box;
  border: 3px solid black;
  padding: 10px;
  text-align: center;
  justify-content: space-evenly;
  background-color: aliceblue;
}

.movie-element {
  margin: 10px;
  padding: 10px;
  color: rgb(103, 37, 37);
  font-family: 'Vina Sans', sans-serif;
  letter-spacing: 1.8px;
  font-size: 72px;
}

.movie-poster {
  border: 3px dashed brown;
  width: 25vw;
  height: 70vh;
}


.btn-container {
  align-items: flex-start;
  width: 10vw;
  height: 5vh;
}

.back-btn {
  text-align: center;
  margin: 20px 0 0 -80px;
  font-size: 72px;
  border: none;
}

.back-btn:hover {
  background-color: darkgray;
}
