.movie-detail-container {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 88vh; /* 78vh / 18px = 4.3333em */
  box-sizing: border-box;
  border: 0.1667em solid black; /* 3px / 18px = 0.1667em */
  padding: 0.5556em; /* 10px / 18px = 0.5556em */
  text-align: center;
  justify-content: space-evenly;
  background-color: aliceblue;
}

.movie-element {
  margin: 0.5556em; /* 10px / 18px = 0.5556em */
  padding: 0.5556em; /* 10px / 18px = 0.5556em */
  color: rgb(103, 37, 37);
  font-family: 'Vina Sans', sans-serif;
  letter-spacing: 0.1em; /* 1.8px / 18px = 0.1em */
  font-size: 10em; /* 72px / 18px = 4em */
}

.movie-poster {
  border: 3vh dashed brown; /* 3px / 18px = 0.1667em */
  width: 25vw; /* 25vw / 18px = 1.3889em */
  height: 70vh; /* 70vh / 18px = 3.8889em */
}


@media only screen and (max-width: 768px) {
  .movie-detail-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    align-items: center;
  }
  .movie-element {
    font-size: 10vw;
  }
  .movie-poster {
    border: 1vh dashed brown;
    width: 60vw;
    height: 30vh;
  }
}