.btn-container {
  align-items: flex-start;
  width: 10vw;
  height: 5vh;
}

.home-btn,
.home-text {
  background-color: aliceblue;
  text-align: center;
  margin: 3.5vh 0 0 -4vw;
  font-size: 80px;
  border: none;
  color: black;
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 1000
}

@media only screen and (max-width: 768px) {
  .btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .home-btn, .home-text {
    font-size: 10vw;
  }
}

@media only screen and (max-width: 992px) {
    .btn-container {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 20vw;
    }
    .home-btn, .home-text {
      font-size: 4vw;
      margin-bottom: -10vh;
    }
}


@media only screen and (max-width: 1024px) {
  .btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20vw;
  }
  .home-btn, .home-text {
    font-size: 4vw;
    margin-bottom: -10vh;
  }
}