.card {
  box-sizing: border-box;
  border: 0.1667em solid black;
  padding: 0.5556em;
  width: 20vw;
  height: 60vh;
  text-align: center;
  background-color: aliceblue;
}

.card:hover {
  background-color: coral;
}

.movie-avg-rating {
  font-size: 1.3333em;
  margin: -0.8333em;
  color: rgb(103, 37, 37);
  font-weight: bold;
}

.link {
  text-decoration: none;
  color: black;
}

img {
  width: 18vw;
  height: 45vh;
}

.movie-detail {
  font-size: 1em;
}

@media only screen and (max-width: 768px) {
  .card {
    display: flex;
    flex-direction: column;
    margin: 3vh;
    height: 42vh;
    width: 80vw;
    align-items: center;
  }

  img {
    width: 60vw;
    height: 55vh;
    margin: 0 auto;
  }

  .movie-detail {
    font-size: 1.125em;
  }
}

@media only screen and (max-width: 992px) {
  .card {
    display: flex;
    flex-direction: column;
    height: 45vh;
    margin: 4vh;
    width: 65vw;
    align-items: center;
  }
  img {
    margin: 0 auto;
    width: 40vw;
    height: 60vh;
  }
  .movie-detail {
    font-size: 1.125em;
    margin: 1vw;
  }
}

@media only screen and (max-width: 1200px) {
   .card {
    display: flex;
    flex-direction: column;
    height: 55vh;
    margin: 4vh;
    width: 75vw;
    align-items: center;
  }
  img {
    margin: 0 auto;
    width: 40vw;
    height: 60vh;
  }
  .movie-detail {
    font-size: 1.125em;
    margin: 1vw;
  }
}