.card {
  box-sizing: border-box;
  border: 3px solid black;
  padding: 10px;
  width: 450px;
  height: 500px;
  text-align: center;
  background-color: aliceblue;
}

.card:hover {
  background-color: coral;
}

.movie-avg-rating {
  font-size: 24px;
  margin: -15px;
  color: rgb(103, 37, 37);
  font-weight: bold;
}

.link {
  text-decoration: none;
  color: black;
}
